<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <header>
        <a href="/assignment8" > assignment8 </a>
        <a href="/assignment9" > assignment9 </a>
        <a href="/assignment10"> assignment10</a>
        <a href="/req_backend"> req_backend</a>
        <a href="/assignment11/outer_source"> outer_source</a>

        <a href="/catalog" > catalog </a>
        {%  if session.username %}
            <a href="logout"> log out</a>
        {% else %}
            <a href="/login" >log in</a>
        {% endif %}
    {%  if session.username  %}
    <h2> Hello, {{ session.username }} </h2>
    {% else %}
        <h2> Hello guest </h2>
    {% endif %}

    </header>
</body>
</html>