{%  extends 'base.html' %}

{% block title %}about{% endblock %}

{%  block tohen %}
    <h1>Req Backend</h1>
    <h2>Pockemons</h2>
    <form action="/req_backend">
        <input type="number" name="number">
        <input type="submit" value=" Sync - Get Pockemons">
    </form>
    <br>

    <form action="/req_backend_async">
        <input type="number" name="number">
        <input type="submit" value=" ASync - Get Pockemons">
    </form>
    <br>

    {% if pockemons %}
        {% for pokemon in pockemons %}
            <h3> Pockemon {{ pokemon.id }}: </h3>
            <img src="{{ pokemon.sprites.front_default }}" alt="pic">
            <h4>Name: {{ pokemon.name }}</h4>
            <h4>height: {{ pokemon.height }}</h4>
            <h4>Weight: {{ pokemon.weight }}</h4>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}